@font-face {
    font-family: "toledo";
    src: url("Toledo.ttf")
}

* {
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    background-color: black;
    flex-direction: column;
    min-height: 550px;
}

main {
    display: flex;
    width: 300px;
    height: 300px;
    flex-wrap: wrap;
}

#maincont {
    margin: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#level {
    color: white;
    text-align: center;
    font-family: "Toledo";
    font-size: 3em;
    margin-bottom: 0.25em;
    animation-duration: 1.5s;
}

.start {
    color: white;
    text-align: center;
    font-family: "Toledo";
    padding: 2px 5px 0 5px;
    border: 1px solid darkgrey;
}

#start:hover {
    text-decoration: underline;
    cursor: pointer;
}

.divcont {
    display: flex;
    width: 50%;
    height: 50%;
}

.buttons {
    margin: auto;
    width: 100px;
    height: 100px;
    opacity: 0.6;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.letters {
    font-family: "Toledo";
    font-size: 1.5em;
    color: white;
    margin-right: 0.3em;
}

#green {
    background-color: #09ed24;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-fill-mode: linear;
}

#blue {
    background-color: #0f2edd;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-fill-mode: linear;
}

#yellow {
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-fill-mode: linear;
    background-color: yellow;
}

#purple {
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-fill-mode: linear;
    background-color: #e00fcf;
}

#subrank {
    color: white;
    flex-direction: column;
    align-items: center;
    font-family: "Toledo";
    display: none;
    text-align: center;
    animation-duration: 1.5s;
}

#userlabel {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

#username {
    margin-bottom: 1em;
}

#replay {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    animation-duration: 1.5s;
}

form>p {
    margin-bottom: 0.5em;
    font-size: 1.5em;
    font-family: "Toledo";
}

@keyframes miss {
    from {}
    to {
        background-color: red;
    }
}

@keyframes title {
    from {
        font-size: 3em;
    }
    to {
        font-size: 6em;
    }
}

@keyframes display {
    from {
        opacity: 0;
        margin-bottom: 0;
    }
    to {
        opacity: 1;
        margin-bottom: 15%;
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto 0.5em auto;
    text-align: center;
}

.submit {
    height: 15%;
}

#rankingcont {
    color: white;
    font-family: "Toledo";
}

footer>p {
    color: white;
    font-family: "Toledo";
}